html,
body {
  height: 100%;
  font-family: "Montserrat", sans-serif;
}

header {
  margin-top: 34px;
  margin-bottom: 58px;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
}
.wrapper {
  width: 1170px;
  margin: 0 auto;
  height: 100%;
  position: relative;
}

.main-page {
  background: linear-gradient(270deg, #a5deff 0%, #fcfeff 100%);
  height: 100%;
  display: flex;
  flex-direction: column;
}

.logo-text {
  margin-left: 18px;
}

.banderogus-container {
  background: #ffff;
  padding: 60px 56px;
  align-self: center;
}

.banderogus-greeting {
  font-weight: 600;
  padding-bottom: 16px;
  font-size: 16px;
  line-height: 24px;
  color: #1b1d1f;
}

.banderogus-start-text {
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  color: #ff6b0a;
  margin-bottom: 48px;
}

.banderogus-title {
  color: #1b1d1f;
  font-weight: 600;
  font-size: 64px;
  line-height: 72px;
  margin-bottom: 24px;
}

.banderogus-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #1b1d1f;
  margin-bottom: 48px;
}

.banderogus-btn {
  background: #ff6b0a;
  border-radius: 8px;
  padding: 12px 24px;
  font-size: 16px;
  line-height: 24px;
  color: #ffff;
  cursor: pointer;
}

.banderogus-btn:hover {
  background: #e36009;
}

.main-page-row {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.banderogus-image {
  align-self: flex-end;
}

.gus-facts {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 52px 0 72px 0;
}

.gus-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 100px;
  color: #1b1d1f;
}

.gus-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #1b1d1f;
  width: 875px;
}

.gus-facts-container {
  width: 1170px;
  display: flex;
  justify-content: space-between;
}

.gus-facts-item {
  width: 33%;
}

.gus-facts-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  color: #1b1d1f;
  margin: 12px 0 32px 0;
}

.gus-facts-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  width: 284px;
}

.victory-footer {
  display: flex;
  justify-content: center;
}

.victory-bgr {
  width: 1170px;
  background: linear-gradient(270deg, #c1e8ff 0%, #ffffff 100%);
  padding: 72px 0;
  margin-bottom: 72px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.victory-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 100px;
  color: #1b1d1f;
  margin: 16px 0;
}

.victory-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #1b1d1f;
  width: 875px;
  text-align: center;
}

.modal-bgd {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #1b1d1fc1;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
}

.modal-form {
  background: #ffff;
  padding: 32px 92px 60px 92px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.close-btn {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 20px;
  color: #1b1d1f;
  background: none;
  cursor: pointer;
  border: 0;
}

.model-form-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  margin: 32px 0 12px 0;
  color: #000000;
}

.modal-form-descr {
  margin-bottom: 24px;
}

.modal-form-field {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}
.modal-field-name {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 8px;
}

.modal-field-input {
  background: #ffffff;
  /* blue */

  border: 1px solid #005bbb;
  border-radius: 8px;
  height: 48px;
  padding: 4px 8px;
}

.modal-form-btn {
  background: #ff6b0a;
  border-radius: 8px;
  padding: 12px 24px;
  font-size: 16px;
  line-height: 24px;
  color: #ffff;
  cursor: pointer;
  padding: 12px 24px;
  margin-top: 24px;
}

.modal-form-btn:hover {
  background: #e36009;
}

.modal-descr {
  margin-bottom: 0;
}
.modal-active {
  opacity: 1;
  pointer-events: all;
}
